img.mugshot {
  border-raidus: 5px;
  margin-top: 30px;
  margin-left: 130px;
}

header#header {
  width: 100%;
  background-color: #ecf0f1;
  padding-bottom: 45px;
}

#header h1 {
  margin: 15px 0;
}

#header hr {
  border-width: 1px;
  color: #a17917;
  margin-top: 25px;
}

#main-nav {
  background-color: #ecf0f1;
  margin-top: 3px;
}

.small-wonder img {
  width: 350px;
}

.family {
  display: none;
}
